<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_salon_root"
        name="Salon"
        sequence="10"/>

    <menuitem id="menu_client"
        name="Clients"
        parent="menu_salon_root"
        sequence="10"/>

    <menuitem id="menu_master"
        name="Masters"
        parent="menu_salon_root"
        sequence="10"/>
</odoo>